{
  "openapi": "3.0.3",
  "info": {
    "title": "HeliTechnology Example Api",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sample-api.heli.technology"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": ["auth"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@google.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Password@123"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "example": "Password@123"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1252
                    },
                    "name": {
                      "type": "string",
                      "example": "John"
                    },
                    "email": {
                      "type": "string",
                      "example": "john@google.com"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": ["auth"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "john@google.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Password@123"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Email or password is incorrect"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["auth"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token is invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/user": {
      "get": {
        "tags": ["auth"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1252
                    },
                    "name": {
                      "type": "string",
                      "example": "John"
                    },
                    "email": {
                      "type": "string",
                      "example": "john@google.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tasks": {
      "get": {
        "tags": ["tasks"],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "9af31018-2120-4bc9-bb2c-bfa12c7d9ed9"
                      },
                      "description": {
                        "type": "string",
                        "example": "Do somethings"
                      },
                      "completed": {
                        "type": "boolean",
                        "example": false
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2023-12-27T14:29:32.000000Z"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2023-12-27T14:29:32.000000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": ["tasks"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "Do Somethings"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "9af31018-2120-4bc9-bb2c-bfa12c7d9ed9"
                    },
                    "description": {
                      "type": "string",
                      "example": "Do somethings"
                    },
                    "completed": {
                      "type": "boolean",
                      "example": false
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-12-27T14:29:32.000000Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-12-27T14:29:32.000000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tasks/{id}": {
      "patch": {
        "summary": "Update completed property of task",
        "tags": ["tasks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of task that needs to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "completed": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "9af31018-2120-4bc9-bb2c-bfa12c7d9ed9"
                    },
                    "description": {
                      "type": "string",
                      "example": "Do somethings"
                    },
                    "completed": {
                      "type": "boolean",
                      "example": false
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-12-27T14:29:32.000000Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2023-12-27T14:29:32.000000Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authorization error"
          },
          "404": {
            "description": "Task not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": ["tasks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of task that needs to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "403": {
            "description": "Authorization error"
          },
          "404": {
            "description": "Task not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1252
          },
          "name": {
            "type": "string",
            "example": "John"
          },
          "email": {
            "type": "string",
            "example": "john@google.com"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "9af31018-2120-4bc9-bb2c-bfa12c7d9ed9"
          },
          "description": {
            "type": "string",
            "example": "Do somethings"
          },
          "completed": {
            "type": "boolean",
            "example": false
          },
          "created_at": {
            "type": "string",
            "example": "2023-12-27T14:29:32.000000Z"
          },
          "updated_at": {
            "type": "string",
            "example": "2023-12-27T14:29:32.000000Z"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "John"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john@google.com"
          },
          "password": {
            "type": "string",
            "example": "Password@123"
          },
          "password_confirmation": {
            "type": "string",
            "example": "Password@123"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "john@google.com"
          },
          "password": {
            "type": "string",
            "example": "Password@123"
          }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "example": "Do Somethings"
          }
        }
      },
      "UpdateStatusRequest": {
        "type": "object",
        "properties": {
          "completed": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
